<p class="acceoted_users">合計<span class="number">100</span> 人 / <span class="number">10</span>グループ</p>


%p.cceoted_users
  イベントの人数：
  %span.number= @grouping.users.size
  グループの数：
  %span.number= @grouping.groupings_count

%div
  - num = 0
  - @grouping.groups.each do |group|
    %div
      - num += 1
      %h3 グループ（#{num}）
      %ol
        - group.users.each do |user|
          %li
            = image_tag user.twitter_img
            = user.nickname
  
%script#results-json(type='text/json')
  = raw @json
%button#save 確定する

