%p.acceoted_users
  イベントの人数：
  %span.number= @grouping.users.size
  人 / 
  グループの数：
  %span.number= @grouping.groupings_count

#groupings
  - num = 0
  - @grouping.groups.each do |group|
    .grouping
      - num += 1
      %h2 グループ（#{num}）
      %ul.users
        - group.users.each do |user|
          %li.user
            %p.icon= image_tag user.twitter_img
            %p.name= user.nickname
  
.next
  %ul
    %li.shuffle= link_to 'やり直す', ''
    %li.result= link_to '確定', ''