%h1.description ATNDイベント参加者をランダムにグループ別け
= form_for @grouping, :url => preview_groupings_path, :remote => true do |f|
  #form
    %fieldset
      %ol
        %li.url
          %p.inner
            %span.label
              = f.label :event_id, 'URL'
              %span.atend_url
                http://atnd.org/events/
            %span.input
              = f.text_field :event_id
          %p.help-block
            ATNDイベントIDを入力 （例：22605 ※半角数字）
        %li.groups
          %p.inner
            %span.label
              = f.label :groupings_count, 'Groups'
            %span.input
              = f.select :groupings_count, options_for_select((2..100).to_a, @grouping.groupings_count), :include_blank => 'グループ数を選択'
      %p.commit
        = f.submit 'シャッフル', :id => 'btn_shuffle'

#results

#loading
  %span シャッフル中

:javascript
   $(function(){
     Grouping.init()
   });
