%h1.description ATNDイベント参加者をランダムにグループ別け
= form_for @grouping, :url => preview_groupings_path, :remote => true do |f|
  #form
    %fieldset
      %ol
        %li.url
          %p.inner
            %span.label
              = f.label :event_url, 'URL'
            %span.input
              - if mobile?
                = f.text_field :event_url, :title => 'ATNDイベントURLをここにコピペ'
              - else
                = f.text_field :event_url, :title => 'ATNDイベントURLを入力 （例：http://atnd.org/events/22605）'
        %li.groups
          %p.inner
            %span.label
              = f.label :event_url, 'Groups'
            %span.input
              = f.select :groupings_count, (2..100).to_a, :include_blank => 'グループ数を選択'
      %p.commit
        = f.submit 'シャッフル', :id => 'btn_shuffle'

#results

#loading
  %span シャッフル中

:javascript
   $(function(){
     Grouping.init()
   });
