= form_for @grouping, :url => preview_groupings_path, :remote => true do |f|
  #form
    %fieldset
      %ol
        %li
          %p.label
            = f.label :event_url, 'URL'
          %p.input
            = f.text_field :event_url
          %p.note
            ここにATNDのイベントのURLをコピペしてください
            %span
              （例：http://atnd.org/events/22605）
        %li
          %p.label
            = f.label :event_url, 'Groups'
          %p.input
            = f.select :groupings_count, Array.new(100){|i|i+1}
      %p.commit
        = f.submit 'シャッフル'

#results

:javascript
   $(function(){
     Grouping.init()
   });
