!!!
%html
  %head
    %title AtndGrouping
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "facebox"
    = stylesheet_link_tag  "http://fonts.googleapis.com/css?family=Righteous"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "facebox.js"
    = csrf_meta_tags
  %body
    %header
      %h1
        = link_to root_path do
          %span.atnd ATND
          %span.groups GROUPS
                
      %p.usage
        %a{:href => "#usage", :rel => "facebox"} ?
    #body
      = yield
    #usage{:style => "display:none;"}
      %p
        使い方ああああああああああああああ 
  %footer
    %p.copyright
      created by
      %span= link_to '@func09', 'http://twitter.com/func09'
      %span= link_to '@machida', 'http://twitter.com/machida'